<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <br/>
    <div class="card">
        <div class="card-header bg-dark text-white-50">
            <h2>Add Form</h2>
        </div>
    </div>

    <div class="card-body">
        <form th:action="@{/adding/add}" method="post" th:object="${customer}">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>CustomerId</label>
                    <input type="text" th:field="*{customerId}" placeholder="Enter id Here..."
                           class="form-control"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('customerId')}"
                       th:errors="*{customerId}"></p>
                </div>

                <label>Email</label>
                <input type="text" th:field="*{email}" placeholder="Enter email Here..."
                       class="form-control"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <div class="form-group">
                <label>RegDate</label>
                <input type="number" th:field="*{regDate}" placeholder="Enter date here"
                       class="form-control"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('regDate')}" th:errors="*{regDate}"></p>

            </div>

            <div class="form-group">
                <label>Active</label>
                <input type="text" th:field="*{active}" placeholder="Enter text here"
                       class="form-control"/>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></p>

            </div>


            <hr/>
            <button type="submit" class="btn btn-primary btn-block mb-3">Save</button>
        </form>
    </div>
</div>

<div class="card-footer">
    <button type="submit" class="btn btn-outline-danger">Back</button>
</div>

<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>